.commonborne.actor .sheet {
    background-color: #1c1c1c;
    color: #f0f0f0;
    font-family: "Arial", sans-serif;
    border: 2px solid #555;
    border-radius: 8px;
    padding: 10px;
}

.commonborne.actor .sheet header {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.commonborne.actor .attributes div {
    margin-bottom: 5px;
}
